<div class="container">
  <div class="details">
    <app-title title="Autentificare"></app-title>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <text-input
        [control]="fc.email"
        [showErrorsWhen]="isSubmitted"
        type="email"
        label="Email"
      ></text-input>

      <text-input
        [control]="fc.password"
        [showErrorsWhen]="isSubmitted"
        type="password"
        label="Parola"
      ></text-input>

      <default-button text="Autentificare"></default-button>
      <div class="register">
        Utilizator nou? &nbsp;
        <a routerLink="/register" [queryParams]="{ returnUrl: returnUrl }">
          Inregistrati-va aici
        </a>
      </div>
    </form>
  </div>
</div>
