.button{
  padding: 1rem;
  color: white;
  display: block;
  width: 99%;
  border-radius: 1rem;
  text-align: center;
  opacity: 0.7;
  justify-self: center;
}

.button:hover {
  opacity: 1;
  cursor: pointer;
}

.stripe {
  background: #e72929;
}

.cash {
  margin-top: 10px;
  background: rgb(3, 127, 204);
}
